name: Publish package to the Maven Central Repository
on:
  release:
    types: [published]
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build
        run: ./gradlew build

      - name: Upload to Sonatype Central
        run: ./gradlew uploadToSonatypeCentral
        env:
          SONATYPE_USER: ${{ secrets.CENTRAL_SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.CENTRAL_SONATYPE_PASSWORD }}
          DEXMAKER_GPG_PRIVATE_KEY: ${{ secrets.DEXMAKER_GPG_PRIVATE_KEY }}
          DEXMAKER_GPG_PRIVATE_KEY_PASSWORD: ${{ secrets.DEXMAKER_GPG_PRIVATE_KEY_PASSWORD }}
